.preview__component {
  overflow: hidden;
  min-height: 130px;
  width: 300px;
  padding: 16px;
  position: absolute;
  top: 55px;
  left: 0px;
  background-color: rgb(35, 43, 40);
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 15px,
    rgba(255, 255, 255, 0.15) 0px 0px 3px 1px;
  border-radius: 16px;
  z-index: 2;
}
.preview__topContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}
.preview__topContainer div:first-child {
  height: 64px;
  width: 64px;
  border-radius: 50px;
  overflow: hidden;
}

.preview__topContainer div:first-child > img {
  width: 100%;
}
