.tw__component {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(35, 43, 40);
}
.tw__container {
  background-color: red;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 400px;
}
