.twCard__component {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: red;
  position: relative;
}
.twCard__firsChild {
  display: flex;
  align-items: center;
  gap: 10px;
}
.twCard__profilePhotoContainer {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}
.twCard__profilePhotoContainer > img {
  max-width: 40px;
}
.twCard__namesContainer {
  display: flex;
  flex-direction: column;
}
.twCard__namesContainer > strong {
  color: #e7e9ea;
  font-size: 15px;
  cursor: pointer;
}
.twCard__namesContainer > span {
  color: #71767b;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}
